body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://i-uddin.github.io/HTML-Project/images/backdrop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* keep background fixed */
  /* centre background image */
}

main {
  margin-right: 20px;
  margin-left: 20px;
}

/* Header */

/* Desktop Only to make the footer and nav stretch horizontally */
@media (min-width: 1000px) {
  header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #555;
  }

  header > nav > ul > li {
    float: left;
    display: inline;
    border-right: 1px solid #000;
  }

  header > nav > ul > li > a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: #000;
  }

  /* hover only shows on certain responsive devices only */
  header > nav > ul > li a:hover {
    background-color: #555;
    color: white;
  }

  .active-page {
    background-color: blue;
    color: white;
  }

  /* float last element right and left border */
  header > nav > ul > li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #000;
  }
}

/* Smaller Width Only to make the footer and nav vertical */
@media not (min-width: 1000px) {

  header > nav > ul {
    font-size: x-large;
    margin: auto;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    list-style-type: none;
    border: 1px solid #555;
  }
  
  header > nav > ul > li {
    border-bottom: 1px solid #555;
  }
  
  /* prevent unnecessary extra border at bottom   */
  header > nav > ul > li:last-child {
    border-bottom: none;
  }
  
  header > nav > ul > li > a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    color: #000;
  }
  
  /* hover only shows on certain responsive devices only */
  header > nav > ul > li a:hover {
    background-color: #555;
    color: white;
  }
  
  .active-page {
    background-color: blue;
    color: white;
  }

}

/* Section 1 */

.section-1 {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  border: 1px solid black;
}

.section-1 * {
  text-align: center;
  font-size: x-large;
}

.section-1 > p{
  padding: 5px;
}

/* Section2  */

.section-2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.section-2 > img {
  border-radius: 25px;
  border: 1px solid black;
}

/* Section 3 */

.section-3 {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  border-radius: 25px;
  border: 1px solid black;
  padding: 20px;
}

.section-3 > p {
  align-self: center;
  font-size: large;
}

.spongebob-pointing {
  align-self: center;
  height: 300px;
  width: 300px;
}

/* Section 4 */

.section-4 {
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  /* display: grid;
  grid-template-columns: minmax(auto,auto) 1fr;
  column-gap: 10px; */
}

.section-4 * {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  border: 1px solid black;
}

.section-4 > p {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.section-4 > img {
  max-width: 700px;
}

/* Footer */

footer {
  font-size: x-large;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(229, 214, 162, 0.8);
  color: white;
  display: flex;
  justify-content: space-around;
}

footer > ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer > address {
  text-align: center;
  color: #000;
}

